ul.function_lists
    li.d.block.createLocalRepo
        ul.status_block: li: li: li
        div.function_title
            div.function_icon1.baseIcon
            div.function_name #{language.createRepo}
    li.d.block.diffCode
        ul.status_block: li: li: li
        div.function_title
            div.function_icon2.baseIcon
            div.function_name #{language.manageBranch}
    li.d.block
        ul.status_block: li: li: li
        div.function_title 
            div.function_icon3.baseIcon
            div.function_name #{language.pushRemote}
    li.d.block.globalSetting
        ul.status_block: li: li: li
        div.function_title
            div.function_icon4.baseIcon
            div.function_name #{language.globalSetting}
    li.d.block.cloneRepo
        ul.status_block: li: li: li
        div.function_title
            div.function_icon5.baseIcon
            div.function_name #{language.cloneRepo}
    li.d.block
        ul.status_block: li: li: li
        div.function_title
            div.function_icon6.baseIcon
            div.function_name #{language.ggitCourse}